
{% extends 'SiteBundle:Default:base.html.twig' %}



{% block body %}

<main>
  <h1>Dennis Smuda Personal Homepage</h1>
  <h3>Under Construction..</h3>

  <a href="http://dennissmuda.github.io">Try my Github instead</a>
</main>



{% endblock %}
