
{% extends 'SiteBundle:Default:base.html.twig' %}



{% block body %}

<header>
  <h2>Dennis Smuda Personal Page</h2>
  <nav></nav>
</header>
<main>

  <h1>Nothing here..</h1>

  <a href="http://dennissmuda.github.io">
    <i class="fa fa-github"></i>
  </a>
</main>



{% endblock %}
